@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  transition: background-color 3s ease, color 2s ease;
}
footer {
  transition: background-color 2s ease, color 2s ease;
}

html.dark {
  transition: background-color 2s ease, color 2s ease;
  background-color: #0f172a;
}
#loginpage {
  background-image: url("./assets//imgs/fundo.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
